@media only screen and (min-width: 481px) and (max-width: 1024px) {
p, h1 {
  font-family: 'Inter', sans-serif;
}
.none {
  display: none;
}

/* fire */
.opa {
  opacity: 70%;
}
.opa1 {
  opacity: 50%;
}
.opa2 {
  opacity: 20%;
}

/* menu */
.menu {
  position: relative;
  background: rgba(1, 183, 109, 1);
  height: 143vw;
  width: 100vw;
}
.v1 {
  background-image: url('../img/v1.png');
  background-size: cover;
  height: 37vw;
  width: 43.5vw;
  position: relative;
  z-index: 2;
}
.v2 {
  background-image: url('../img/v2.png');
  background-size: cover;
  height: 39.6vw;
  width: 43.8vw;
  margin-left: 56.20vw;
  margin-top: 66.5vw;
  position: relative;
  z-index: 1;
}
.f1 {
  background-image: url('../img/f1.png');
  background-size: cover;
  height: 11vw;
  width: 11.5vw;
  margin-left: 24vw;
  margin-top: -141.5vw;
  position: absolute;
  z-index: 1;
}
.inf {
  background-image: url('../img/inf.png');
  background-size: cover;
  height: 8vw;
  width: 8vw;
  margin-left: 90.5vw;
  margin-top: -141vw;
  position: absolute;
  z-index: 2;
}
.f2 {
  background-image: url('../img/f2.png');
  background-size: cover;
  height: 10.3vw;
  width: 17.2vw;
  margin-left: 75vw;
  margin-top: -143vw;
  position: absolute;
  z-index: 1;
}
.f3 {
  background-image: url('../img/f3.png');
  background-size: cover;
  height: 16.2vw;
  width: 16vw;
  margin-left: 2vw;
  margin-top: -128vw;
  position: absolute;
  z-index: 2;
}
.f4 {
  background-image: url('../img/f4.png');
  background-size: cover;
  height: 15.1vw;
  width: 9.5vw;
  margin-left: 90.5vw;
  margin-top: -118vw;
  position: absolute;
  z-index: 1;
}
.f5 {
  background-image: url('../img/f5.png');
  background-size: cover;
  height: 18vw;
  width: 17.4vw;
  margin-left: 71vw;
  margin-top: -23vw;
  position: absolute;
  z-index: 2;
}
.f6 {
  background-image: url('../img/f6.png');
  background-size: cover;
  height: 10vw;
  width: 19vw;
  margin-left: 10vw;
  margin-top: -10vw;
  position: absolute;
  z-index: 2;
}
.save {
  font-size: 9vw;
  -webkit-text-stroke: 3px black;
  color: white;
  font-weight: 900;
  margin-left: 15vw;
  margin-top: -104vw;
  position: absolute;
  z-index: 2;
}
.logo {
  font-size: 5vw;
  color: white;
  font-weight: 900;
  margin-left: 3vw;
  margin-top: -139vw;
  position: absolute;
  z-index: 2;
}
.f {
  background-image: url('../img/forest.png');
  background-size: cover;
  height: 9.9vw;
  width: 56.4vw;
  margin-left: 23vw;
  margin-top: -83vw;
  position: absolute;
  z-index: 2;
}
.r {
  background-image: url('../img/rubbish.png');
  background-size: cover;
  height: 9.9vw;
  width: 56.4vw;
  margin-left: 23vw;
  margin-top: -69vw;
  position: absolute;
  z-index: 2;
}
.ff {
  background-image: url('../img/fire.png');
  background-size: cover;
  height: 9.9vw;
  width: 56.4vw;
  margin-left: 23vw;
  margin-top: -55vw;
  position: absolute;
  z-index: 2;
}


/* info */
.info {
  position: relative;
  background: rgba(1, 183, 109, 1);
  height: 143vw;
  width: 100vw;
}
.inf_2 {
  background-image: url('../img/back.png');
  background-size: cover;
  height: 8vw;
  width: 8vw;
  margin-left: 90.5vw;
  margin-top: -141vw;
  position: absolute;
  z-index: 2;
}
.hse {
  background-image: url('../img/hse.png');
  background-size: cover;
  height: 15vw;
  width: 35vw;
  margin-left: 2.5vw;
  margin-top: -18vw;
  position: absolute;
  z-index: 2;
}
.ww {
  font-size: 6vw;
  color: white;
  font-weight: 700;
  margin-left: 22vw;
  margin-top: -97vw;
  position: absolute;
  z-index: 2;
  text-align: center;
}
.w {
  font-size: 6vw;
  color: white;
  font-weight: 700;
  margin-left: 16vw;
  margin-top: -68vw;
  position: absolute;
  z-index: 2;
  text-align: center;
}


/* 1 game */
.Fgame {
  position: relative;
  background: rgba(143, 215, 255, 1);
  height: 143vw;
  width: 100vw;
}
.ground {
  margin-top: 72vw;
  margin-left: 0vw;
  height: 71vw;
  width: 100vw;
  background: black;
  position: absolute;
  z-index: 1;
}
.tablet {
  background-image: url('../img/plashka2.png');
  background-size: cover;
  height: 133.9vw;
  width: 18.9vw;
  margin-left: 79vw;
  margin-top: 1vw;
  position: absolute;
  z-index: 2;
}
.ready {
  background-image: url('../img/ready2.png');
  background-size: cover;
  height: 5vw;
  width: 20.2vw;
  margin-left: 78vw;
  margin-top: 136vw;
  position: absolute;
  z-index: 2;
}
.sun {
  background-image: url('../img/sun.png');
  background-size: cover;
  height: 6vw;
  width: 6vw;
  margin-left: 6.5vw;
  margin-top: 1.9vw;
  position: absolute;
  z-index: 2;
}
.t1 {
  background-image: url('../img/t1.png');
  background-size: cover;
  height: 15.5vw;
  width: 6.6vw;
  margin-left: 6.2vw;
  margin-top: 68.6vw;
  position: absolute;
  z-index: 2;
}
.fl1 {
  background-image: url('../img/fl1.png');
  background-size: cover;
  height: 6.5vw;
  width: 7.8vw;
  margin-left: 5.6vw;
  margin-top: 9.7vw;
  position: absolute;
  z-index: 2;
}
.fl2 {
  background-image: url('../img/fl3.png');
  background-size: cover;
  height: 6.5vw;
  width: 6.3vw;
  margin-left: 6.5vw;
  margin-top: 18.8vw;
  position: absolute;
  z-index: 2;
}
.fl3 {
  background-image: url('../img/fl2.png');
  background-size: cover;
  height: 6vw;
  width: 6vw;
  margin-left: 6.3vw;
  margin-top: 86vw;
  position: absolute;
  z-index: 2;
}
.t2 {
  background-image: url('../img/t2.png');
  background-size: cover;
  height: 14vw;
  width: 7.4vw;
  margin-left: 5.7vw;
  margin-top: 26.9vw;
  position: absolute;
  z-index: 2;
}
.c1 {
  background-image: url('../img/c1.png');
  background-size: cover;
  height: 6.5vw;
  width: 9.1vw;
  margin-left: 4.8vw;
  margin-top: 93.5vw;
  position: absolute;
  z-index: 2;
}
.t3 {
  background-image: url('../img/t3.png');
  background-size: cover;
  height: 6.3vw;
  width: 5.2vw;
  margin-left: 6.7vw;
  margin-top: 102vw;
  position: absolute;
  z-index: 2;
}
.t4 {
  background-image: url('../img/t4.png');
  background-size: cover;
  height: 7vw;
  width: 3.8vw;
  margin-left: 7.4vw;
  margin-top: 42.8vw;
  position: absolute;
  z-index: 2;
}
.c2 {
  background-image: url('../img/c2.png');
  background-size: cover;
  height: 4.3vw;
  width: 10.2vw;
  margin-left: 4.4vw;
  margin-top: 111.5vw;
  position: absolute;
  z-index: 2;
}
.t5 {
  background-image: url('../img/t5.png');
  background-size: cover;
  height: 7vw;
  width: 5.1vw;
  margin-left: 6.9vw;
  margin-top: 50.8vw;
  position: absolute;
  z-index: 2;
}
.t6 {
  background-image: url('../img/t6.png');
  background-size: cover;
  height: 14.1vw;
  width: 10.4vw;
  margin-left: 4.4vw;
  margin-top: 118.9vw;
  position: absolute;
  z-index: 2;
}
.trava {
  background-image: url('../img/trava.png');
  background-size: cover;
  height: 6.9vw;
  width: 4.5vw;
  margin-left: 7.2vw;
  margin-top: 59.2vw;
  position: absolute;
  z-index: 2;
}
.belka {
  background-image: url('../img/belka.png');
  background-size: cover;
  height: 20vw;
  width: 23vw;
  margin-left: -44vw;
  margin-top: 61vw;
  position: absolute;
  z-index: 2;
}


/* 2 game */
.Sgame {
  position: relative;
  background: rgba(143, 215, 255, 1);
  height: 143vw;
  width: 100vw;
}
.p {
  background-image: url('../img/paket1.png');
  background-size: cover;
  height: 10vw;
  width: 15vw;
  margin-left: 66vw;
  margin-top: 66vw;
  position: absolute;
  z-index: 1;
}
.p_1 {
  background-image: url('../img/paket2.png');
  background-size: cover;
  height: 16.6vw;
  width: 16vw;
  margin-left: 32vw;
  margin-top: 91vw;
  position: absolute;
  z-index: 1;
}
.p_2 {
  background-image: url('../img/paket3.png');
  background-size: cover;
  height: 13.8vw;
  width: 18.3vw;
  margin-left: 19vw;
  margin-top: 61vw;
  position: absolute;
  z-index: 1;
}
.p_3 {
  background-image: url('../img/paket4.png');
  background-size: cover;
  height: 13.2vw;
  width: 15vw;
  margin-left: 83vw;
  margin-top: 56vw;
  position: absolute;
  z-index: 1;
}
.b {
  background-image: url('../img/butilka.png');
  background-size: cover;
  height: 14vw;
  width: 7.9vw;
  margin-left: 39vw;
  margin-top: 116vw;
  position: absolute;
  z-index: 2;
}
.b_1 {
  background-image: url('../img/butilka.png');
  background-size: cover;
  height: 6vw;
  width: 3.3vw;
  margin-left: 90vw;
  margin-top: 36vw;
  position: absolute;
  z-index: 2;
  display: none;
}
.b_2 {
  background-image: url('../img/butilka.png');
  background-size: cover;
  height: 14vw;
  width: 7.9vw;
  margin-left: 89vw;
  margin-top: 128vw;
  position: absolute;
  z-index: 2;
}
.b_3 {
  background-image: url('../img/butilka1.png');
  background-size: cover;
  height: 5.2vw;
  width: 8vw;
  margin-left: 62.5vw;
  margin-top: 46vw;
  position: absolute;
  z-index: 2;
  display: none;
}
.ch {
  background-image: url('../img/chashka.png');
  background-size: cover;
  height: 6vw;
  width: 8vw;
  margin-left: 4vw;
  margin-top: 114vw;
  position: absolute;
  z-index: 2;
}
.ch_1 {
  background-image: url('../img/chashka.png');
  background-size: cover;
  height: 6vw;
  width: 8vw;
  margin-left: 86vw;
  margin-top: 95vw;
  position: absolute;
  z-index: 2;
}
.ch_2 {
  background-image: url('../img/chashka.png');
  background-size: cover;
  height: 3vw;
  width: 3.9vw;
  margin-left: 85vw;
  margin-top: 48vw;
  position: absolute;
  z-index: 2;
  display: none;
}
.ch_3 {
  background-image: url('../img/chashka.png');
  background-size: cover;
  height: 3vw;
  width: 3.9vw;
  margin-left: 92vw;
  margin-top: 44vw;
  position: absolute;
  z-index: 2;
  display: none;
}
.s {
  background-image: url('../img/sigareta.png');
  background-size: cover;
  height: 2vw;
  width: 13vw;
  margin-left: 16vw;
  margin-top: 138vw;
  position: absolute;
  z-index: 2;
}
.s_1 {
  background-image: url('../img/sigareta.png');
  background-size: cover;
  height: 2vw;
  width: 13vw;
  margin-left: 61vw;
  margin-top: 132vw;
  position: absolute;
  z-index: 2;
}
.s_2 {
  background-image: url('../img/sigareta.png');
  background-size: cover;
  height: 1vw;
  width: 6vw;
  margin-left: 79vw;
  margin-top: 51vw;
  position: absolute;
  z-index: 2;
  display: none;
}
.s_3 {
  background-image: url('../img/sigareta.png');
  background-size: cover;
  height: 1vw;
  width: 6vw;
  margin-left: 87vw;
  margin-top: 54vw;
  position: absolute;
  z-index: 2;
  display: none;
}


/* 3 game */
.Tgame {
  position: relative;
  background: rgba(143, 215, 255, 1);
  height: 143vw;
  width: 100vw;
}
.fr {
  background-image: url('../img/fire1.png');
  background-size: cover;
  height: 23.1vw;
  width: 24.9vw;
  margin-left: 21vw;
  margin-top: 106vw;
  position: absolute;
  z-index: 2;
  opacity: 100%;
}
.fr1 {
  background-image: url('../img/fire2.png');
  background-size: cover;
  height: 12vw;
  width: 14.6vw;
  margin-left: 29vw;
  margin-top: 47vw;
  position: absolute;
  z-index: 2;
  opacity: 100%;
}
.fr2 {
  background-image: url('../img/fire3.png');
  background-size: cover;
  height: 13.3vw;
  width: 11.1vw;
  margin-left: 37vw;
  margin-top: 84vw;
  position: absolute;
  z-index: 2;
  opacity: 100%;
}
.fr3 {
  background-image: url('../img/fire2.png');
  background-size: cover;
  height: 7vw;
  width: 8.5vw;
  margin-left: 74vw;
  margin-top: 30vw;
  position: absolute;
  z-index: 2;
  opacity: 100%;
  display: none;
}
.fr4 {
  background-image: url('../img/fire4.png');
  background-size: cover;
  height: 19vw;
  width: 16.4vw;
  margin-left: 72vw;
  margin-top: 106vw;
  position: absolute;
  z-index: 2;
  opacity: 100%;
}
.fr5 {
  background-image: url('../img/fire5.png');
  background-size: cover;
  height: 16.9vw;
  width: 14.4vw;
  margin-left: 83vw;
  margin-top: 83vw;
  position: absolute;
  z-index: 2;
  opacity: 100%;
}
.fr6 {
  background-image: url('../img/fire1.png');
  background-size: cover;
  height: 11vw;
  width: 12vw;
  margin-left: 63vw;
  margin-top: 35vw;
  position: absolute;
  z-index: 1;
  opacity: 100%;
  display: none;
}

/* типо пейзаж */

.ground1 {
  background-image: url('../img/ground3.png');
  background-size: cover;
  margin-top: 81vw;
  margin-left: 0vw;
  height: 62vw;
  width: 100vw;
  position: absolute;
  z-index: 1;
}
.sun1 {
  background-image: url('../img/sun.png');
  background-size: cover;
  height: 25vw;
  width: 25vw;
  margin-left: 7vw;
  margin-top: 3.5vw;
  position: absolute;
  z-index: 1;
}
.t1_1 {
  background-image: url('../img/derevo.png');
  background-size: cover;
  height: 57vw;
  width: 47.4vw;
  margin-left: 15vw;
  margin-top: 38.5vw;
  position: absolute;
  z-index: 1;
}
.t3_1 {
  background-image: url('../img/tua.png');
  background-size: cover;
  height: 70vw;
  width: 29.1vw;
  margin-left: 65vw;
  margin-top: 27.5vw;
  position: absolute;
  z-index: 1;
}
.t5_1 {
  background-image: url('../img/mini_tua.png');
  background-size: cover;
  height: 53vw;
  width: 34.9vw;
  margin-left: 6vw;
  margin-top: 66.5vw;
  position: absolute;
  z-index: 1;
}
.t6_1 {
  background-image: url('../img/big_cust.png');
  background-size: cover;
  height: 25vw;
  width: 17.9vw;
  margin-left: 9vw;
  margin-top: 26.5vw;
  position: absolute;
  z-index: 2;
  display: none;
}
.t2_1 {
  background-image: url('../img/tree1.png');
  background-size: cover;
  height: 25vw;
  width: 13.8vw;
  margin-left: 3vw;
  margin-top: 20.5vw;
  position: absolute;
  z-index: 1;
  display: none;
}
.t2_2 {
  background-image: url('../img/tree2.png');
  background-size: cover;
  height: 66vw;
  width: 36.1vw;
  margin-left: 35vw;
  margin-top: 44.5vw;
  position: absolute;
  z-index: 2;
}
.c1_1 {
  background-image: url('../img/cust3.png');
  background-size: cover;
  height: 23.9vw;
  width: 33.8vw;
  margin-left: 59vw;
  margin-top: 105.5vw;
  position: absolute;
  z-index: 1;
  display: none;
}
.c1_2 {
  background-image: url('../img/cust3.png');
  background-size: cover;
  height: 14.6vw;
  width: 35.3vw;
  margin-left: 15vw;
  margin-top: 113.5vw;
  position: absolute;
  z-index: 2;
}
.t4_1 {
  background-image: url('../img/tree3.png');
  background-size: cover;
  height: 35vw;
  width: 18.6vw;
  margin-left: 79vw;
  margin-top: 11.5vw;
  position: absolute;
  z-index: 1;
  display: none;
}
.t4_2 {
  background-image: url('../img/tree3.png');
  background-size: cover;
  height: 26vw;
  width: 13.8vw;
  margin-left: 73vw;
  margin-top: 23vw;
  position: absolute;
  z-index: 2;
  display: none;
}
.c2_1 {
  background-image: url('../img/cust1.png');
  background-size: cover;
  height: 21.9vw;
  width: 30.9vw;
  margin-left: 65vw;
  margin-top: 102.5vw;
  position: absolute;
  z-index: 2;
}
.fl1_1 {
  background-image: url('../img/fl1.png');
  background-size: cover;
  height: 9vw;
  width: 11vw;
  margin-left: 41vw;
  margin-top: 97.5vw;
  position: absolute;
  z-index: 2;
}
.fl1_2 {
  background-image: url('../img/fl1.png');
  background-size: cover;
  height: 9vw;
  width: 11vw;
  margin-left: 51vw;
  margin-top: 121.5vw;
  position: absolute;
  z-index: 2;
}
.fl1_3 {
  background-image: url('../img/fl1.png');
  background-size: cover;
  height: 9vw;
  width: 11vw;
  margin-left: 81vw;
  margin-top: 129.5vw;
  position: absolute;
  z-index: 2;
}
.fl2_1 {
  background-image: url('../img/fl2.png');
  background-size: cover;
  height: 5vw;
  width: 5vw;
  margin-left: 17vw;
  margin-top: 35vw;
  position: absolute;
  z-index: 2;
  display: none;
}
.fl2_2 {
  background-image: url('../img/fl2.png');
  background-size: cover;
  height: 5vw;
  width: 5vw;
  margin-left: 11vw;
  margin-top: 43vw;
  position: absolute;
  z-index: 2;
  display: none;
}
.fl2_3 {
  background-image: url('../img/fl2.png');
  background-size: cover;
  height: 9vw;
  width: 9vw;
  margin-left: 7vw;
  margin-top: 126.5vw;
  position: absolute;
  z-index: 1;
}
.fl2_4 {
  background-image: url('../img/fl2.png');
  background-size: cover;
  height: 9vw;
  width: 9vw;
  margin-left: 82vw;
  margin-top: 111vw;
  position: absolute;
  z-index: 2;
}
.fl3_1 {
  background-image: url('../img/fl3.png');
  background-size: cover;
  height: 9.1vw;
  width: 9vw;
  margin-left: 33vw;
  margin-top: 131vw;
  position: absolute;
  z-index: 2;
}
.fl3_2 {
  background-image: url('../img/fl3.png');
  background-size: cover;
  height: 9.1vw;
  width: 9vw;
  margin-left: 70vw;
  margin-top: 106vw;
  position: absolute;
  z-index: 2;
}


/* finish */
.butt {
  background-image: url('../img/thanks.png');
  background-size: cover;
  height: 6.2vw;
  width: 40vw;
  margin-left: 30vw;
  margin-top: 21vw;
  position: absolute;
  z-index: 3;
}
.back {
  position: relative;
  background: rgba(37, 37, 37, 0.5);
  opacity: 50%;
  height: 143vw;
  width: 100vw;
  z-index: 2;
}
.menu1 {
  background-image: url('../img/menu.png');
  background-size: cover;
  height: 6.1vw;
  width: 19.2vw;
  margin-left: 2vw;
  margin-top: 1vw;
  position: absolute;
  z-index: 3;
}
.butt1 {
  background-image: url('../img/butt1.png');
  background-size: cover;
  height: 9.2vw;
  width: 59vw;
  margin-left: 19vw;
  margin-top: 67vw;
  position: absolute;
  z-index: 3;
}

.back_1 {
  position: relative;
  background: rgba(37, 37, 37, 0.5);
  opacity: 50%;
  height: 143vw;
  width: 100vw;
  z-index: 2;
}
.menu1_1 {
  background-image: url('../img/menu.png');
  background-size: cover;
  height: 6.1vw;
  width: 19.2vw;
  margin-left: 2vw;
  margin-top: 1vw;
  position: absolute;
  z-index: 3;
}
.butt1_1 {
  background-image: url('../img/butt1.png');
  background-size: cover;
  height: 9.2vw;
  width: 59vw;
  margin-left: 19vw;
  margin-top: 67vw;
  position: absolute;
  z-index: 3;
}

.back_2 {
  position: relative;
  background: rgba(37, 37, 37, 0.5);
  opacity: 50%;
  height: 143vw;
  width: 100vw;
  z-index: 2;
}
.menu1_2 {
  background-image: url('../img/menu.png');
  background-size: cover;
  height: 6.1vw;
  width: 19.2vw;
  margin-left: 2vw;
  margin-top: 1vw;
  position: absolute;
  z-index: 3;
}
.butt1_2 {
  background-image: url('../img/butt1.png');
  background-size: cover;
  height: 9.2vw;
  width: 59vw;
  margin-left: 19vw;
  margin-top: 67vw;
  position: absolute;
  z-index: 3;
}


/* thanks */
.thanks {
  background-image: url('../img/thanks.png');
  background-size: cover;
  height: 7.2vw;
  width: 40vw;
  margin-left: 30vw;
  margin-top: 23vw;
  position: absolute;
  z-index: 3;
}
.thanks_1 {
  background-image: url('../img/thanks.png');
  background-size: cover;
  height: 7.2vw;
  width: 40vw;
  margin-left: 30vw;
  margin-top: 23vw;
  position: absolute;
  z-index: 3;
}
}
